@use 'node_modules/markdown-air/css/air.css';

html {
  font-size: 14px;
}

body {
  font-family: 'M PLUS Rounded 1c', Helvetica, sans-serif;
  max-width: 600px;
  text-align: start;
  margin: 50px auto;
  padding: 10px;
  background-color: #fcfffc;
}

body,
p {
  color: #333333;
}

h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.contact {
  font-size: 0;
  text-align: center;
  ion-icon {
    font-size: 30px;
    margin: 0 20px;
  }
  a {
    color: inherit;
  }
}
